/*세방고딕*/
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*카페24 써라운드*/
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*카페24 단정해*/
@font-face {
  font-family: 'Cafe24Danjunghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*강원교육튼튼*/
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*나눔고딕*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

/*나눔스퀘어*/
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); 
  /* font-family: 'NanumSquare', sans-serif; */

/*코트라 고딕체*/
@font-face {
  font-family: 'KOTRA_GOTHIC';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*LINESeedKR-Bd*/
@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}



*{margin:0; padding:0; box-sizing: border-box;}
ul{list-style: none;}
a{text-decoration: none; color:inherit;}

body{
  z-index:1;
}
header{
  width:15%;
  height:3080px;
  color:#fff;
  background-color:#000;
  font-family: 'GangwonEduPowerExtraBoldA';
  font-size:23px;
  line-height:50px;
  position:fixed;
  z-index:2;
  /* display:none; */
  letter-spacing: 1px;
}
header .logo{
  width:100px;
  height:150px;
  margin:auto;
  padding-right:10px;
  padding-bottom:40px;
}
header .logo img{
  margin-top:30px;
  width:100%;
}
header .logo_sec{
  display: none;
}
header #gnb .gnb{
  padding:0 0 0 20%;
  margin-top:30px;
  /* overflow: hidden; */
  position:relative;
}
header .gnb > li{
  /* margin-bottom:10px; */
  width:100%;
  height:60px;
  padding:5px 20px;
  line-height:60px;
  box-sizing: border-box;
}
header .gnb > li:hover{
  width:100%;
  height:60px;
  background-color: #fff;
  color:black;
  border-radius: 30px 0px 0px 30px;
  /* padding-top:5px; */
  box-sizing: border-box;
  cursor:pointer;
}
header .gnb > li:hover a{
  display:block;
  box-sizing: border-box;
}
header .sub{
  display:none;
  position:absolute;
  width:190px;
  color:#fff;
  background-color: rgba(0,0,0,0.5);
  top:0px;
  left:100%;
  border-radius: 0px 30px 30px 0px;
  /* z-index:100; */
  /*overflow: visible!important;*/
}
header .sub > li{
  height:100%;
}
header .gnb > li:hover .sub{
  display:block;
  line-height:60px;
}
header .gnb > li:hover .sub > li{
  padding-left:25px;
  line-height:50px;
  padding-top:10px;
  box-sizing: border-box;
  z-index:10;
}
header .gnb > li .sub > li:hover{
  width:100%;
  height:100%;
  color:skyblue;
}
header .gnb > li:hover .sub li a{
  display:block;
}
header .gnb > li:nth-child(3) .sub{
  position: absolute;
  top:120px;
  left:100%;
}
header .gnb > li:nth-child(4) .sub{
  position: absolute;
  top:120px;
  left:100%;
}
header .search{
  width:90%;
  height:40px;
  display:flex;
  padding: 0px 10%;
  margin-left:20px;
  margin-top:10px;
  box-sizing: border-box;
}
header .search input{
  width:100%;
  margin: 0px 10px 0px 20px;
  background-color: transparent;
  border:0;
  border-bottom:1px solid #fff;
  color:#555;
  font-size:18px;
  text-indent: 7px;
}
header .search a{
  width:10%;
}
.search_icon{
  position: absolute;
  right:80px;
  font-size:35px;
  line-height:80px;
  display:none;
}
.toggle{
  position: absolute;
  right:20px;
  font-size:35px;
  line-height:80px;
  display:none;
}


#contain{
  width:85%;
  max-width:1635px;
  margin-left:15%;
  position:relative;
}
#mainban{
  width:100%;
  height:1000px;
  position:relative;
  overflow: hidden;
}
/* #mainban .mainImgs{
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-between;
} */
#mainban .mainImgs{
  width:400%;
  height:100%;
  display:flex;
  justify-content: space-between;
  position:relative;
}
#mainban .mainImgs > li .back1600{
  display:none;
}
#mainban .mainImgs li{
  width:100%;
  max-width:1635px;
  height:100%;
  position:relative;
}

#mainban .mainImgs .fade{
  animation:fade 1s;
}
@keyframes fade{
  from{opacity:0.3;}
  to{opacity:1;}
}

#mainban .mainImgs > li.fir{
  background: url(../img/use/mainSlide_1.png) center/cover;
}
#mainban .mainImgs > li.sec{
  background: url(../img/use/mainSlide_2.png) center/cover;
}
#mainban .mainImgs > li.thr{
  background: url(../img/use/mainSlide_3.png) center/cover;
}
#mainban .mainImgs > li.for{
  background: url(../img/use/mainSlide_4.png) center/cover;
}
#mainban .mainImgs .txt{
  position:absolute;
  color:#fff;
  text-align: left;
  left:5%;
  top:22%;
  font-family: "LINE Seed Sans KR";
  /* font-family: 'LINESeedKR-Rg'; */
}
#mainban .mainImgs .txt > p.big{
  font-size:55px;
  font-weight: 500;
  color:#000;
  line-height:73px;
  background-color: rgba(255,255,255,0.6);
  /* display:inline-block; */
  display:inline;
  margin-bottom:10px;
  padding: 10px 3px 0px 3px;
  box-sizing: border-box;
  letter-spacing: 7px;
}
#mainban .mainImgs .txt > p.small{
  margin-top:30px;
  margin-left:5px;
  letter-spacing: 2px;
}
#mainban .mainImgs .sec .txt > p.small{
  color:#000;
}
#mainban .mainImgs .sec .txt button{
  color:#444;
}
#mainban .mainImgs .sec .txt button:hover{
  color:#000;
  background-color: #fff;
}
#mainban .mainImgs .txt button{
  width:150px;
  height:40px;
  font-family: 'KOTRA_GOTHIC';
  font-size:18px;
  margin-top:55px;
  margin-left:7px;
  /* padding:8px 13px; */
  border:none;
  border-radius: 13px;
  background-color: rgba(255,255,255,0.6);
  cursor:pointer;
  transform: translate(-5px,-5px);
  transition:0.3s;
}
#mainban .mainImgs .txt button i{
  vertical-align: middle;
}
#mainban .mainImgs .txt button:hover{
  color:rgb(233, 233, 233);
  background-color: rgba(255,255,255,0.3);
}
#mainban .mainImgs .txt button:hover i{
  animation: arrowright 0.9s infinite;
}
@keyframes arrowright{
  from{transform: translateX(0px);}
  to{transform: translateX(5px);}
}


#mainban .sns{
  position:absolute;
  display:flex;
  top:4%;
  right:3%;
  width:200px;
  justify-content: space-between;
}
#mainban .sns > li{
  opacity:0.6;
  transition:0.3s;
}
#mainban .sns > li:hover{
  opacity:1;
}
#mainban .pages{
  width:90px;
  position:absolute;
  display:flex;
  font-size:25px;
  bottom:6%;
  left:3%;
  font-weight:700;
  background-color: rgba(255,255,255,0.5);
  border-radius: 30px;
  padding:2px 7px;
  justify-content: space-between;
}
#mainban .pages li.prev,
#mainban .pages li.next{
  opacity:0.6;
  padding-top:7px;
  cursor:pointer;
  transition: 0.3s;
}
#mainban .pages li.prev:hover,
#mainban .pages li.next:hover{
  opacity:1;
  transform: scale(1.1);
}
#mainban .pages .number{
  font-size:30px;
  /* margin:2px 10px; */
  margin:0px 10px;
}
#mainban .dots{
  position:absolute;
  display:flex;
  bottom:6%;
  right:2%;
}
#mainban .dots li{
  width:15px;
  height:15px;
  background-color: transparent;
  border:1px solid #333;
  border-radius: 10px;
  margin-right:8px;
  cursor:pointer;
  transition:0.3s;
}
#mainban .dots li:last-child{
  margin-right:0px;
}
#mainban .dots li:hover{
  background-color: #333;
}
#mainban .dots li.on{
  background-color: #333;
}
#mainban .dots li.active{
  background-color: #333;
}





#content_area{
  /* max-width:1260px; */
  margin:120px auto 0;
  padding-bottom:280px;
}


/* 우측하단 top버튼들 */
.Btn{
  position:fixed;
  right:1%;
  bottom:2%;
  display:none;
  z-index:10;
}
.Btn li{
  width:60px;
  height:60px;
  border:1px solid gray;
  border-radius: 40px;
  position: relative;
  background-color: #e7e6e6;
  margin-bottom:10px;
  cursor:pointer;
}
.Btn li button{
  cursor: pointer;
}
.Btn li img{
  width:40px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity:0.7;
}
.Btn li:hover{
  /* background-color:#ccc; */
  background-color: #fff;
}


footer{
  width:100%;
  min-width:1200px;
  height:400px;
  background-color: #dbdbdb;
  position:absolute;
  z-index:3;
}
footer #wrap{
  max-width:1180px;
  margin:auto;
}
footer #wrap .wrap{
  width:100%;
  display:flex;
  justify-content: space-around;
  padding-top:40px;
}
footer .left .txtlogo{
  width:280px;
  height:40px;
  margin-bottom:55px;
}
footer .left .txtlogo img{
  width:100%;
}
footer .left .txt{
  line-height:40px;
}
footer .left .txt b{
  margin-right:15px;
}

footer .right{
  text-align: right;
  position:relative;
}
footer .follow .sns{
  width:215px;
  height:50px;
  position: absolute;
  right:0;
  top:60px;
  display:flex;
  justify-content:space-between;
}
footer .right h3{
  font-size:33px;
}
footer .right .sns li img{
  width:30px;
}
footer .contact{
  margin-top:65px;
}
footer .contact span{
  font-weight: 500;
  line-height: 30px;
}
footer #copy{
  width:100%;
  height:80px;
  position:absolute;
  bottom:0;
  border-top:1px solid #999;
}
#copy p{
  line-height: 80px;
  text-align: center;
}





@media (max-width:1600px){
  header{
    width:100%;
    height:80px;
    /* position:fixed; */
    position: relative;
  }
  header .logo{
    display:none;
  }
  header .logo a{
    width:100%;
  }
  header .logo_sec{
    width:30%;
    display:block;
    padding:10px 30px;
    box-sizing: border-box;
  }
  header #gnb{
    float:right;
    position:absolute;
    right:0;
    bottom:0;
    display:flex;
    font-size:18px;
  }
  header #gnb .gnb{
    width:100%;
    display:flex;
    margin-top:0;
    overflow: visible;
    padding:0;
    margin-right:30px;/**/
  }
  header .gnb > li{
    line-height:80px;
    padding:0 10px;
    margin:0;
  }
  header .gnb > li:hover{
    padding:0;
    margin:0;
  }
  header input{
    display:none;
  }
  header .headAll .search{
    width:23px;
    height:80px;
    line-height:80px;
    padding:0;
  }
  header .headAll .search img{
    margin-right:10%;
  }
  header #wrap #gnb .gnb li{
    font-size:20px;
  }
  header #wrap #gnb .gnb .search{
    padding-right:5%;
  }
  
  #contain{
    width:100%;
    margin:auto;
  }
  #mainban .mainImgs > li{
    width:100%;
  }
  #mainban .mainImgs > li .back1600{
    display:block;
  }
  #mainban .mainImgs > li .back1600 img{
    width:100%;
  }
}



@media (max-width:1200px){
 
  #contain #wrapper #select_area .select{
    width:100%;
    margin:0;
    justify-content: center;
  }
  #contain #wrapper #select_area .select > li{
    padding:0 10px;
  }
  #contain .mainImgs > li{
    width:100%;
  }
  #select_area .select{
    width:60%;
    margin-left:30%;
  }
  #content_area{
    margin:auto;
  }
  #content{
    width:100%;
  }
  #content > li{
    width:33.33%;
  }

  footer .wrap{
    max-width:800px;
    margin:auto;
    display:block;
  }
  footer .wrap > div{
    width:100%;
  }
}



@media (max-width:980px){
  header #gnb .gnb > li{
    font-size:15px;
  }
  #contain .mainImgs .txt p{
    line-height:60px;
  }
  #contain .mainImgs .txt b{
    font-size:50px;
  }
  #contain #wrapper{
    display:flex;
  }
  #contain #content{
    width:100%;
    justify-content: center;
  }
  #contain #wrapper #or .or{
    background-image:none;
    font-size:12px;
    position:absolute;
  }
  #contain #wrapper #or .or > div{
    width:60px;
    height:60px;
  }
  #contain #wrapper #or .or .des{
    top:0;
    left:0px;
  }
  #contain #wrapper #or .or .dri{
    top:0;
    right:-40px;
  } 
  #contain #wrapper #or .or > div a{
    width:100%;
  } 
  #contain #wrapper #select_area .select{
    margin-top:40px;
  }
}



@media (max-width:860px){
  #contain #wrapper #or .or{
    display:none;
  }
}



@media (max-width:768px){
  .search_icon,
  .toggle{display:block;}
  header #gnb .gnb{
    display:none;
  }
  #contain #wrapper #select_area .select{
    width:100%;
    margin:40px 0 0;
  }
  #contain #mainban .mainImgs > li{
    width:100%;
    background: url(../img/Dbanner_01.jpg) center/cover no-repeat;
  }
  #or{
    display:none;
  }
  #content > li{
    padding:20px;
    width:50%;
  }
  #contain #content_area  #content > li .txt h3{
    font-size:15px;
  }
  #contain #content_area  #content > li .txt p{
    font-size:11px;
  }
  #contain .mainImgs .txt p{
    line-height:35px;
  }
  #contain .mainImgs .txt b{
    font-size:35px;
  }
  #contain .select_area .sel .select{
    width:100%;
  }
  #contain .select_area .sel .select > li{
    width:16.6%;
  }
  .search img{display:none;}
}



@media (max-width:480px){
  #content > li{
    padding:30px;
    width:100%;
  }
  #contain #mainban .mainImgs > li{
    width:100%;
    background: url(../img/Dbanner_01.jpg) center/cover no-repeat;
  }
  #contain #content_area  #content > li{
    width:100%;
  }
  #contain #content_area  #content > li .txt h3{
    font-size:16px;
  }
  #contain #content_area  #content > li .txt p{
    font-size:12px;
  }
  #contain #content_area  #content > li .txt .price{
    font-size:16px;
  }
}

